.Movie{
  
  
    box-shadow: 0 gpx 10px rgba(0, 0, 0, 0.5);
     width: 250px; 
     background-color: #3AAFA9;
     margin: 1rem;
     border-radius: 5px;
     box-sizing: border-box;
     overflow: hidden;  
     position: relative;
}
.Movie .cardImg{

width: 100%;
height: 250px;
}
.AboutMovie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.AboutMovie .Box{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.AboutMovie .title{
    width: 160px;
    text-align: center;
    color: white;
}
.AboutMovie .overView{
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 100%;
    background-color: #3AAFA9;
    opacity: 0.9;
    color: white;
    box-sizing: border-box;
    padding: 1rem;
    transition: all 0.4s ease-in-out;
    overflow-y: auto;
    transform: translateY(101%);
    /* transition: all 1s; */
    /* display: none; */
}
.AboutMovie:hover .overView{
    transform: translateY(0%);
    /* display: block; */
   
    /* transform: rotate(360deg); */

}
.MovieRate{
    background-color: black;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 1px solid #1e706c ;
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: white;
}